.nav-pills .nav-link.active {
  background-color:#61c3ee;
}

.bttn-gradient.bttn-success, .bttn-simple.bttn-success {
    background: #489739;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #253e90;
    background-color: #253e90;
}

.box.box-primary {
    border-top-color: #253e90;
}

.infoBoxes {
  display: flex;
  position: relative;
  justify-content: center;
  justify-content: space-evenly;
}

.bg-teal {
    background-color: #00819c !important;
}

.vscomp-value {
    height: auto;
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.vscomp-option-text {
    overflow: hidden;
    height: auto;
    white-space: normal;
    width: 100%;
    line-height: 1;
}

.vscomp-wrapper.multiple .vscomp-option.selected .checkbox-icon::after {
    transform: rotate(45deg) translate(1px, -4px);
    border-color: #489739;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 50%;
}

.vscomp-wrapper .checkbox-icon.checked::after {
    transform: rotate(45deg) translate(1px, -4px);
    border-color: #489739;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 50%;
}

table.dataTable tr.dtrg-group td {
    background-color: #48973978;
    color: #222;
}

table.dataTable tr.dtrg-group.dtrg-level-1 td {
    background-color: #4897394f;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: 2em;
    font-size: .9em;
    color: #222;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1.5px solid #222;
}

table.dataTable tbody th, table.dataTable tbody td {
    border: #222;
    padding: 2px 12px;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #666;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 2px 12px;
    border-bottom: 1px solid #222;
}

table.dataTable thead th.dt-head-center, table.dataTable thead td.dt-head-center, table.dataTable tfoot th.dt-head-center, table.dataTable tfoot td.dt-head-center {
    text-align: center;
    background-color: #489739;
    color: white;
}

table.dataTable thead .sorting {
  background-color: #489739;
  color: white;
}

table.dataTable thead th.dt-head-left, table.dataTable thead td.dt-head-left, table.dataTable tfoot th.dt-head-left, table.dataTable tfoot td.dt-head-left {
    text-align: left;
    background-color: #489739;
    color: white;
}

button.dt-button, div.dt-button, a.dt-button, input.dt-button {
    background: #f6f6f6;
    border-radius: .25rem;
}

button.dt-button:hover:not(.disabled) {
    border: 1px solid #666;
    border-radius: .25rem;
    background: #091d5f24;
}

button.dt-button:active:not(.disabled) {
    background: #091d5f24;
    box-shadow: inset 1px 1px 3px #999;
}

button.dt-button:focus:not(.disabled) {
    border: 1px solid #666;
    text-shadow: 0 1px 0 #b9bfc3;
    outline: none;
    background: #253e90;
    color: white;
}

div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled) {
    background-color: #253e90;
    box-shadow: inset 1px 1px 3px #666;
}

button.dt-button:active:not(.disabled):hover:not(.disabled), button.dt-button.active:not(.disabled):hover:not(.disabled) {
    box-shadow: inset 1px 1px 3px #999;
    background: #253e90;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: 1px solid #0000004d;
    border-radius: .25rem;
    background: #f6f6f6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid #0000004d;
    border-radius: .25rem;
    background: #f6f6f6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: black !important;
  background: #091d5f24;
  border: 1px solid #0000004d;
  border-radius: .25rem;
}

.ggiraph-toolbar {
  opacity: 1 !important;
}

.ggiraph-toolbar-icon {
    stroke: #253e90;
    fill: #253e90;
}
